<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans  
      http://www.springframework.org/schema/beans/spring-beans-3.0.xsd  
      http://www.springframework.org/schema/security  
      http://www.springframework.org/schema/security/spring-security-3.1.xsd">
	<global-method-security pre-post-annotations="enabled">
<!-- 		AspectJ pointcut expression that locates our "post" method and applies  -->
<!-- 			security that way <protect-pointcut expression="execution(* bigbank.*Service.post*(..))"  -->
<!-- 			access="ROLE_TELLER"/> -->
	</global-method-security>
	<!--这是spring 提供的http/https信道安全的这个是重要的！你的请求信道是安全的！-->
	<http pattern="/js/**" security="none"></http>
	<http pattern="/css/**" security="none"></http>
	<http pattern="/images/**" security="none"></http>
	<http auto-config="true" use-expressions="true" access-denied-page="/user/denied">
	    <http-basic/>
	    <intercept-url pattern="/admin/**" access="permitAll" />  
        <intercept-url pattern="/ssq/**" access="permitAll" />  
        <intercept-url pattern="/browser/**" access="permitAll" /> 
        
<!-- 这是因为配置文件中的“/**”配置，要求用户访问任意一个系统资源时， -->
<!-- 必须拥有ROLE_ADMIN,ROLE_EDITOR,ROLE_USER角色中的一种，/login.html也不例外。 -->
        <intercept-url pattern="/**" access="permitAll" />
        
		<intercept-url pattern="/welcome" access="hasRole('ROLE_USER')" />
<!-- 		让没登陆的用户也可以访问login.html, 当然可以吧login.action放到入common等不需要过滤的url路径(命名空间)下 -->
<!-- 		<intercept-url pattern="/login.html" security="none" />  -->
		
<!--   
    default-target-url       指定了从登录页面登录后进行跳转的页面  
    always-use-default-target   true表示登录成功后强制跳转  
    authentication-failure-url  表示验证失败后进入的页面  
    login-processing-url       设置验证登录验证地址，如果不设置，默认是j_spring_security_check  
    username-parameter,password-parameter     设置登录用户名和密码的请求name，默认：j_username,j_password  
    default-target-url="/user/home"   
   -->
<!-- 		login-page表示用户登陆时显示我们自定义的login.action对应的页面。 -->
<!-- 		authentication-failure-url表示用户登陆失败时，跳转到哪个action。 -->
<!-- 		当用户输入的登录名和密码不正确时，系统将再次跳转到/login.action，并添加一个error=true参数作为登陆失败的标示。 -->
<!-- 		default-target-url表示登陆成功时，跳转的url。  -->
        <form-login login-page="/login.html" authentication-failure-url="/login.html?error=true" default-target-url="/welcome.html" />
<!-- 		<form-login login-page="/login.html" default-target-url="/welcome.html" -->
<!-- 			authentication-failure-url="/loginfailed.html?error=true" /> -->
		<!-- <intercept-url pattern="/**" access="permitAll" /> -->
		<logout />
		<session-management session-fixation-protection="newSession" />
	</http>
	<authentication-manager>
		<authentication-provider>
			<user-service>
				<user name="admin" password="123456" authorities="ROLE_USER" />
			</user-service>
		</authentication-provider>
	</authentication-manager>
</beans:beans> 