<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:context="http://www.springframework.org/schema/context" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx" xsi:schemaLocation="
			http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
			http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
			http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd
			http://www.springframework.org/schema/context   
			http://www.springframework.org/schema/context/spring-context-2.5.xsd"
    default-lazy-init="true" default-autowire="byName">
    <bean id="loginWebAction" class="com.xone.action.web.login.LoginWebAction" scope="prototype" />
    <bean id="genericPageAction" class="com.xone.action.web.index.GenericPageAction" scope="prototype">
        <property name="imageUploadPath" value="${com.xone.image.uploaded.file.dir}" />
    </bean>
    <bean id="productWebAction" class="com.xone.action.web.product.ProductWebAction" scope="prototype">
        <property name="imageUploadPath" value="${com.xone.image.uploaded.file.dir}" />
    </bean>
    <bean id="purchaseWebAction" class="com.xone.action.web.purchase.PurchaseWebAction" scope="prototype">
        <property name="imageUploadPath" value="${com.xone.image.uploaded.file.dir}" />
    </bean>
    <bean id="resourcesWebAction" class="com.xone.action.web.resources.ResourcesWebAction" scope="prototype" />
    <bean id="rolesWebAction" class="com.xone.action.web.admin.RolesWebAction" scope="prototype" />

</beans>