<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" 
	xmlns:context="http://www.springframework.org/schema/context" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:aop="http://www.springframework.org/schema/aop" 
	xmlns:tx="http://www.springframework.org/schema/tx" xsi:schemaLocation="
			http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
			http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
			http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd
			http://www.springframework.org/schema/context   
			http://www.springframework.org/schema/context/spring-context-2.5.xsd" default-lazy-init="true" default-autowire="byName">
	<bean id="loginRefAction" class="com.xone.action.app.loginref.LoginRefAction" scope="prototype" />
	<bean id="productAction" class="com.xone.action.app.product.ProductAction" scope="prototype" >
	    <property name="imageUploadPath" value="${com.xone.image.uploaded.file.dir}" />
	</bean>
	<bean id="purchaseAction" class="com.xone.action.app.purchase.PurchaseAction" scope="prototype" >
	    <property name="imageUploadPath" value="${com.xone.image.uploaded.file.dir}" />
	</bean>
	<bean id="assistantAction" class="com.xone.action.app.assistant.AssistantAction" scope="prototype">
	    <property name="imageUploadPath" value="${com.xone.image.uploaded.file.dir}" />
	</bean>
	<bean id="deliveryAction" class="com.xone.action.app.assistant.DeliveryAction" scope="prototype" />
	<bean id="adBannerAction" class="com.xone.action.app.adbanner.AdBannerAction" scope="prototype" />
	<bean id="subscribeAction" class="com.xone.action.app.subscribe.SubscribeAction" scope="prototype" />
</beans>